.env
.ansible
.vscode
group_vars/
__pycache__/
opt/multi-service/.env
.terraform/
.terraform.lock.hcl
plan1
plan2
plan3
plan4
plan5
terraform.tfstate
terraform.tfstate.backup
*.tfplan
node_modules/
services/api/node_modules/
services/web/node_modules/
.idea